
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Travel Destinations</title>
    <style>.bod{
    background-color: honeydew;
    width: fit-content;
    
    padding: 20px;
    border-radius: 10px;

    }
    .bod-container{
        margin-left: 200px;
        padding-left: 100px;
        border-radius: 50px;

        
    }
    .body{
        background-color: gainsboro;
        
    }
    .display-4{
        font-weight: 400;
        color: black;
    }
    .card-body{
      overflow: scroll;
      width: 300px;
      height: 200px;
    }

    </style>
</head>
<body class="body">
    <h1 class="display-4" align="center">Travel Destinations</h1>
    <br>
    <div class="bod-container">
   <div align="center" class="bod">
    <h3 class="card-title" align="left">Tamilnadu</h3>
 <table cellpadding="10px"><tr>
    <td><div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">Chennai</h3>
          <h6 class="card-text">
            
                <li>Mahabalipuram</li>
                <li>Marina Beach</li>
                <li>Edwards elliots Beach</li>
                <li>Mylapore</li>
                <li>podicherry</li>
           
          </h6>
          
        </div>
      </div></td>
    <td><div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">Tiruchirappalli</h3>
          <h6 class="card-text">
            
            <li>Tiruchirapalli Rock Fort</li>
            <li>Srirangam</li>
            <li>Kolli Hills</li>
            <li>kallanai</li>
            
       
      </h6>
        </div>
      </div></td>
    <td><div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">Vellore</h3>
            <h6 class="card-text">
              
              <li>Vellore Fort</li>
              <li>Jalakandeshwar Temple</li>
              <li>Tirumalaikodi</li>
              <li>Mahadeva Malai Temple</li>
              
         
        </h6>
        </div>
      </div></td>
</tr></table>
<br>

<h3 class="card-title" align="left">Karnataka</h3>
<table cellpadding="10px"><tr>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Bengaluru</h3>
        <h6 class="card-text">
          
          <li>Nandi Hills</li>
          <li>Ooty</li>
          <li>Tippu Sultan's Palace</li>
          <li>Royal Orchid Central</li>
          <li>Bannerghatta National Park</li>
          <li>Lalbagh Botanical Garden</li>
     
    </h6>
       </div>
     </div></td>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Mangaluru</h3>
        <h6 class="card-text">
          
          <li>Kudroli Gokarnath Temple</li>
          <li>Panambur Beach</li>
          <li>St Aloysius Chapel</li>
          <li>Someshwara Beach</li>
          <li>Karkala</li>
     
    </h6>
       </div>
     </div></td>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Hubli-Dharwad</h3>
        <h6 class="card-text">
          
          <li>Dharwad Adventure Base</li>
          <li>Nrupatunga Betta</li>
          <li>Urban Oasis Mall</li>
          <li>Agadi Thota</li>
          <li>Dandeli</li>
     
    </h6>
       </div>
     </div></td>
</tr></table>

<br>

<h3 class="card-title" align="left">Andhra Pradesh</h3>
<table cellpadding="10px"><tr>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Vishakapatnam</h3>
        <h6 class="card-text">
          
          <li>Submarine Museum</li>
          <li>Kailasagiri</li>
          <li>Rushikonda Beach</li>
          <li>Borra Caves</li>
          <li>Yarada Beach</li>
     
    </h6>
       </div>
     </div></td>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Tirupathi</h3>
        <h6 class="card-text">
          
          <li>Akashaganga</li>
          <li>Shila Thorannam</li>
          <li>Swamy Pushkarini Lake</li>
          <li>Zoo park</li>
          <li>Sri Padmavathi Amma Temple</li>
     
    </h6>
       </div>
     </div></td>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Kakinada</h3>
        <h6 class="card-text">
          
          <li>Yanam</li>
          <li>Koringa Wildlife Sanctuary</li>
          <li>Draksharamam</li>
          <li>Pitapuram</li>
          <li>Parnashala</li>
     
    </h6>
       </div>
     </div></td>
     <td></td>
</tr></table>
<br>
<h3 class="card-title" align="left">MadhyaPradesh</h3>
<table cellpadding="10px"><tr>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Bhopal</h3>
        <h6 class="card-text">
          
          <li>Sachisthoopa</li>
          <li>Sathpura National Park</li>
          <li>Vidisha</li>
          <li>Bori Wildlife Sanctuary</li>
          <li>Islamnagar Fort</li>
     
    </h6>
       </div>
     </div></td>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Gwalior</h3>
        <h6 class="card-text">
          
          <li>Gwalior Fort</li>
          <li>Sun Temple Gwalior</li>
          <li>Gujari Mahal</li>
          <li>Gurudwara Data Bandi</li>
          <li>Gwalior Zoo</li>
          <li>Tomb of Tansen</li>
     
    </h6>
       </div>
     </div></td>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Ujjain</h3>
        <h6 class="card-text">
          
          <li>Mahakaleshwar Jyothirlinga</li>
          <li>Shri Ram Ghat</li>
          <li>Bhartrihari caves</li>
          <li>Jantar Mantar</li>
          <li>Sandipani Ashram</li>
     
    </h6>
       </div>
     </div></td>
</tr></table>
<br>
<h3 class="card-title" align="left">Rajasthan</h3>
<table cellpadding="10px"><tr>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Jaipur</h3>
        <h6 class="card-text">
          
          <li>Hawa Mahal</li>
          <li>Amber Palace</li>
          <li>Nahargarh Fort</li>
          <li>City Palace</li>
          <li>Jaigarh Fort</li>
     
    </h6>
       </div>
     </div></td>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Udaipur</h3>
        <h6 class="card-text">
          
          <li>Saheliyon ki Bari</li>
          <li>Jagmandir</li>
          <li>Bagore ki Haveli</li>
          <li>Lake Pichola</li>
          <li>Fateh Sagar Lake</li>
          <li>Ambrai Ghat</li>
     
    </h6>
       </div>
     </div></td>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Ajmer</h3>
        <h6 class="card-text">
          
          <li>Adhai din ka Jhopra</li>
          <li>Taragarh Fort</li>
          <li>Digambar Jain Temple</li>
          <li>Anasagar Lake</li>
          <li>Nareli Gyanodaya Digambar Temple </li>
     
    </h6>
       </div>
     </div></td>
</tr></table>
<br>
<div class="tel" align="left">
<h3 class="card-title" align="left">Telangana</h3>
<table cellpadding="10px"><tr>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Warangal</h3>
        <h6 class="card-text">
          
          <li>Ramappa Temple</li>
          <li>Warangal Fort</li>
          <li>Kush Mahal</li>
          <li>Thousand Pillar Temple</li>
          <li>Lakhnavaram Cheruvu</li>
     
    </h6>
       </div>
     </div></td>
   <td><div class="card" style="width: 18rem;">
       <div class="card-body">
        <h3 class="card-title">Karimnagar</h3>
        <h6 class="card-text">
          
          <li></li>
          <li>Lower Manair Dam</li>
          <li>Vemulawada</li>
          <li>Naguru Fort and Temple</li>
          <li>Elgandla Fort</li>
          <li>Ramagiri Fort</li>
     
    </h6>
       </div>
     </div></td></div>
   
</tr></table>
</div> 
</div>
</body>
</html>